[submodule "foundry-basics/simple-storage/lib/forge-std"]
	path = foundry-basics/simple-storage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "fund-me-contract/lib/forge-std"]
	path = fund-me-contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "fund-me-contract/lib/chainlink-brownie-contracts"]
	path = fund-me-contract/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "fund-me-contract/lib/foundry-devops"]
	path = fund-me-contract/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "raffle-contract/lib/forge-std"]
	path = raffle-contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "raffle-contract/lib/chainlink-brownie-contracts"]
	path = raffle-contract/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
